container-top {
  display: flex;
  justify-content: center;
  background-color: green;
}

.start-up {
  /* display: flex;
  justify-content: center; */
}

.comedy {
  /* display: flex;
  justify-content: center; */
}
