<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Here You can post your arts</h1>
    <form class="" action="/comedian/skit" method="post">
      <input type="text" name="title" placeholder="Title"><br>
      <input type="text" name="video_url" placeholder="Video URL"><br>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
