<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to the Comedy World!</h1>
    <p>You can starts your career as Comedian</p>
  </body>
</html>
