<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>



<body>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <div class="start-up">
        <p>start-up</p>
      </div>
      <div class="comedy">
        <p>COMEDY</p>
      </div>

    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active" style="margin-right: 50em;"></li>
    </ul>
  </nav>
  <a href="/home" style="color: blue;">Back</a>



  <!-- <h1>Home page info goes here.</h1> -->
</body>

</html>
