<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>



<body>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">

      <div class="start-up">
        <p>start-up</p>
      </div>
      <div class="comedy">
        <p>COMEDY</p>
      </div>
      <ul class="index nav navbar-nav navbar-right">
        <li class="active"><a href="/home">Home</a></li>
      </ul>

    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active" style="margin-right: 50em;"></li>
    </ul>

  </nav>

  <div class="about">
    <div class="george">
      <p class="para">“I think it's the duty of the comedian to find out where the line is drawn and cross it deliberately.”</p>
      <p><b>- George Carlin</b></p>
      <h1 class="duty">About us</h1>
      <p class="launch">Hello everyone! Thanks for visiting "start-up COMEDY". Our focus is on getting as much exposure to people interested in a stand up comedy career. We recognize how difficult it can be to start a new career in the entertainment business, and so we thought that having a website focused strictly on solo stand-up might help people get a foot in the door.</p>

      <div class="us">
        <p></p>

      </div>

    </div>
    <div class="">
      <h2></h2>
      <p></p>
    </div>

  </div>



</body>

</html>
