<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="home.css" type="text/css">
</head>

<body>

  <header>
    <div class="container-top">
      <div class="start-up">
        <h2>start-up</h2>
      </div>
      <div class="comedy">
        <h1>COMEDY</h1>
      </div>
    </div>

  </header>

</body>

</html>
