<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <nav class="navbar">
    <div class="">
      
    </div>
  </nav>

  <body>



    <h1>Heading goes here</h1>

    <div class="">
      <% for(let i = 0; i < skits.length; i++){ %>
        <div class="">
          <h2> <%= skits[i].video_url %> </h2>
          <iframe src="" width="" height=""></iframe>

        </div>





      <% } %>

    </div>
  </body>
</html>
