<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="navbar-header">
      <div class="start-up">
        <p>start-up</p>
      </div>
      <div class="comedy">
        <p>COMEDY</p>
      </div>
    </div>
    <h1>As a viewer you can comment on our Artist work</h1>
    <iframe width="560" height="315" src="<%= skit.video_url%>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </body>
</html>
