body {
  margin: auto;
}

.navbar {
  display: flex;
  background-color: green;
  height: 5em;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: ;
  margin-left: 2em;
  margin-top: 25px;
}

.nav li {
  margin-top: 34px;
}

.navbar-right {
  flex: 1;
}

.navbar-nav {
  display: flex;
  text-align: center;
}

ul {
  display: flex;
  /* justify-content: center; */
  list-style-type: none;
}

a {
  text-decoration: none;
  width: 3em;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #21e47000;
  text-align: center;
  justify-content: center;
}

li {
  justify-content: flex-end;
  flex: 1;
}

.glyphicon {
  padding-right: 5em;
}

.start-up p {
  font-size: 30pt;
  font-family: 'orange juice';
  color: orange;
}

.comedy p {
  font-size: 60pt;
  font-family: 'Remained';
  color: yellow;
  padding-left: .25em;
}

.skit-div {
  margin-top: 1em;
  margin-left: 1em;
  ;
}

.index {
  margin-bottom: 40px;
}

.about {
  height: 800px;
  display: flex;
  justify-content: center;
  /* background-color: pink; */

  /* background: url(https://images.alphacoders.com/244/thumb-1920-2443.jpg) no-repeat; */
  /* background-size: cover; */
}

.george {
  margin-top: 1em;
  border: 1px solid black;

  text-align: center;
  width: 50%;
}

.duty {
  font-size: 3em;
}
